#canvas1{
    border-style: ridge;
    border-width: 10px;
}

body{
	background-image: url("https://i.postimg.cc/KzWwHPcq/racing.gif");
    background-position: center;
    background-size: cover;
}

h1,h4
{
	color: white !important;
}